/* Deixando o fundo com degradê de rosa e amarelo pastel */
body {
    background: linear-gradient(to bottom, #eac6d7, #fffdc4); /* Tons pastel */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   /* Centralizando o conteúdo e ajustando o layout */
   .container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
   }
   /* Estilizando o input de entrada de valor */
   .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
   }
   input[type="number"], select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
   }
   /* Estilizando os botões */
   button {
    background-color: #e39fc3;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 5px; /* Diminuindo a margem superior para reduzir o espaço */
    width: 100%;
   }
   button:hover {
    background-color: #d18bb8;
   }
   /* Ajustando o resultado da conversão */
   .result {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #e39fc3;
   }
   /* Estilizando os labels */
   label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
   }